<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:xcache="http://www.xteam.org/xcache"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/tx  http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
		http://www.xteam.org/xcache http://www.xteam.org/xcache/xcache-1.0.xsd">

	<context:component-scan base-package="xcache" />		
	<context:annotation-config />
	<aop:aspectj-autoproxy />
	
	<bean id="localCache" class="xcache.bean.SingleMapCache"/>
	<bean id="remoteCache" class="xcache.redis.SingleRedisCache">
		<constructor-arg index="0">
			<!-- 需要org.springframework.data.redis.core.RedisTemplate -->
			<ref bean="redisTemplate"/>
		</constructor-arg>
	</bean>
	
	<xcache:config local="localCache" remote="remoteCache"/>
	<xcache:autoproxy/>
</beans>